<!DOCTYPE html>
<html>
<head>
<title> Spotify Women Empowerment </title>
</head>
<body>

<h1><!DOCTYPE html>
<html>
<head>
<title> Spotify Women Empowerment  </title>
</head>
<body>

<h1> <center> Spotify Women Empowerment </center> </h1>
<p>This is a paragraph.</p>

</body>
</html> </h1>
<p> What's better than just some tunes? Feeling empowered with tunes! </p>

</body>
</html>





<!DOCTYPE html>
<html>
<head>
   
<meta charset="UTF-8">
<title>Spotify Treasures</title>
</head>
<body>
<iframe src="https://open.spotify.com/embed?uri=spotify:user:12182750609:playlist:5QCR9Io4rHs85COZVMhXQZ" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

</body>



</html>
